{% extends "basic_app/basic_app_base.html" %}

{% block body_block %}
    <h1>Welcome to a list of all the schools</h1>
    {% for school in school_list %}
        <!-- here, href os pnly going to return a single integer value -->
        <h2><li><a href="{{ school.id }}">{{ school.name }}</a></li></h2>
    {% endfor %}
{% endblock %}

<a href=""